<!-- https://everything.curl.dev/http/multipart -->

{% extends "home/gb_base_1.html" %}

{% block pre_authenticated_user %}

{% block content %}
{% if valid_flag %}
    <h1> Welcome to {{ event_title }} </h1>
    Click "Choose File" below to record or upload a video.
    Videos are limited to 15 seconds.
    <br>
    Videos longer than 15 seconds will be accepted but truncated to 15 seconds.
    <br>

    <form action={{ url }} method="post" enctype="multipart/form-data" onsubmit="return pleaseWait(this);" >
        <!-- <input type="hidden" name="success_action_redirect" key='success_action_redirect' value={{ success_url }}> -->
        {% for key, value in fields.items %}
            <input type="hidden" name="{{ key}}" key="{{ key }}" value={{value}}> 
        {% endfor %}
        <br>
        <label for="file">Video:</label>
        <input type="file" accept="video/*" name="file" capture="camera" required >
        <br>
        <br>
        <input type="submit"  name="videoSubmitButton" value="Submit video!">

    </form>
{% else %}
    <p>{{ return_status }}</p>
    <p> The website you attempted to visit is not for a valid event. Please try again,</p>
    <p> or download the free app to begin.</p>
    <!-- TODO: add the download app stuff -->
{% endif %}
{% endblock content %}
{% endblock pre_authenticated_user %}

{% block extra_script %}

<script type="text/javascript">
    // https://www.the-art-of-web.com/javascript/doublesubmit/
    function pleaseWait(form) // Submit button clicked
    {
      form.videoSubmitButton.disabled = true;
      form.videoSubmitButton.value = "Please wait...";
      return true;
    }
  
    function resetForm(form) // Reset button clicked
    {
      form.videoSubmitButton.disabled = false;
      form.videoSubmitButton.value = "Submit";
    }
  
  </script>

{% endblock extra_script %}
