{% extends "home/gb_base_1.html" %}

{% block content %}

    Welcome {{ user }}
    <h3>Past Events</h3>
        <table style="width:100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Title</th>
                <th>QR Code</th>
                <th># of Videos</th>
                <th>View Videos</th>
                <th>Edit Event</th>
                <th>Delete event</th>
            </tr>
        </thead>
        <tbody>
            {% for event in past_events %}
            <tr>
                <td>{{ event.event_date }}</td>
                <td>{{ event.event_time }}</td>
                <td>{{ event.event_title }}</td>
                <td><a href="/hosts/get_qrcode/{{ event.id }}"><i class="fa fa-qrcode"></i></a></td>
                <td>{{ event.video_set.all.count }}</td>
                <td><a href="/hosts/view_videos/{{ event.id }}"><i class="fa fa-eye"></i></a></td>
                <td><a href="/hosts/edit_event/{{ event.id }}"><i class="fa fa-edit"></i></a></td>
                <td><i class="fa fa-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    <h3>Scheduled Events</h3>
        <table style="width:100%">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Title</th>
            <th>QR Code</th>
            <th># of Videos</th>
            <th>View Videos</th>
            <th>Edit Event</th>
            <th>Delete event</th>
        </tr>
        {% for event in sched_events %}
        <tr>
            <td>{{ event.event_date }}</td>
            <td>{{ event.event_time }}</td>
            <td>{{ event.event_title }}</td>
            <td><a href="/hosts/get_qrcode/{{ event.id }}"><i class="fa fa-qrcode"></i></a></td>
            <td>{{ event.video_set.all.count }}</td>
            <td><a href="/hosts/view_videos/{{ event.id }}"><i class="fa fa-eye"></i></a></td>
            <td><a href="/hosts/edit_event/{{ event.id }}"><i class="fa fa-edit"></i></a></td>
            <td><i class="fa fa-trash"></i></a></td>
        </tr>
        {% endfor %}
        </table>
    <a href="/hosts/create_event">Create a new event</a>

    <!-- <div id="progress-wrapper">
        <button id="progress-bar-trigger">Run</button>
        <div id="progress-bar" style="background-color: blue; width: 0%;">&nbsp;</div>
        <div id="progress-bar-message">Waiting for progress to start...</div>
      </div> -->

{% endblock content %}
