<!--Copyright 2020 Mark B. Skouson-->
{% extends "home/gb_base_1.html" %}

{% block pre_authenticated_user %}

<div class="w3-display-container" style="height: 300pt" id="login">
    <div class="w3-card-4 w3-blue w3-center w3-display-middle 
        w3-round-large" style="width: 350pt;padding: 20pt"
    >
        <p>
            Please sign up or sign in with your existing third party account:
        </p>
        <div class="socialaccount_ballot">
            <a title="Google" class="socialaccount_provider google" href="/accounts/google/login/?process=login">Google</a>
        </div>     
        <div class="login-or">or</div>
        <form class="login" method="POST" action="/accounts/login/">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <p><label for="id_login"> &nbsp;&nbsp;&nbsp;&nbsp;E-mail: </label> <input type="email" name="login" placeholder="E-mail address" autofocus="autofocus" required="" id="id_login"></p>
            <p><label for="id_password">Password:</label> <input type="password" name="password" placeholder="Password" required="" id="id_password"></p>
            <p><label for="id_remember">Remember Me:</label> <input type="checkbox" name="remember" id="id_remember"></p>  
            <p><button class="primaryAction" type="submit">Sign In</button></p>
            <p><a class="button secondaryAction" href="/accounts/password/reset/">Forgot Password?</a></p>
        </form>

    </div>
</div>


{% endblock pre_authenticated_user %}

